# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env

# Streamlit
.streamlit/
.streamlit/secrets.toml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test and static analysis caches
.pytest_cache/
.mypy_cache/

# OS & system files
.DS_Store
Thumbs.db

# Media files (ignore globally)
*.mp4
*.png
*.jpg
*.jpeg
*.gif

# Exception: Keep assets folder media
!assets/*.png
!assets/*.gif
!assets/*.jpg
!assets/*.jpeg
!assets/*.mp4

# Logs
*.log

# Editor / IDE files
.vscode/
*.code-workspace
.idea/

# Archives & build artifacts
*.tar
*.gz
*.zip
