# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env

# Streamlit cache
.streamlit/

# Jupyter Notebook checkpoints (if using notebooks)
.ipynb_checkpoints/

# MacOS & system files
.DS_Store
Thumbs.db

# Ignore images globally
*.mp4
*.png
*.jpg
*.jpeg
*.gif

# EXCEPTION: Allow tracked images in the assets folder
!assets/*.png
!assets/*.gif
!assets/*.jpg
!assets/*.jpeg
!assets/*.mp4

# Logs
*.log

# IDE/editor config
.vscode/
*.code-workspace
.idea/
